In [130]:
import os
import sys

module_path = os.path.abspath(os.path.join('../../'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [75]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [118]:
from src.clean import import_file
from src.evaluate import capture_rmse

In [131]:
df = import_file('../../data/clean/score.csv',
                 columns = ["GHLTH",
                            "predictions",
                            "ACCESS2",
                            "BINGE"
                            ])

In [137]:
rmse = capture_rmse(df, comp_prop = False)

Model RMSE exceeds 5.

In [139]:
rmse

0.08438243263804619

In [134]:
rmse_log = np.log(0.05 / (1 - .05))

In [136]:
df.describe()

            ACCESS2         BINGE         GHLTH   predictions
count  21102.000000  21102.000000  21102.000000  21102.000000
mean       0.163494      0.176278     -1.447675     -1.447890
std        0.083211      0.034589      0.457652      0.449524
min        0.033000      0.028000     -2.903111     -2.596475
25%        0.104000      0.154000     -1.782457     -1.783484
50%        0.142000      0.175000     -1.476214     -1.506494
75%        0.201000      0.196000     -1.136302     -1.172092
max        0.614000      0.403000      0.152294      0.552049

In [127]:
df_in_values = [[ 0.086     ,  0.187     , -1.71126277, -1.74854762],
                [ 0.152     ,  0.198     , -1.79877704, -1.83784209],
                [ 0.364     ,  0.141     , -0.70366568, -0.68524022],
                [ 0.194     ,  0.183     , -1.5231373 , -1.62628582],
                [ 0.169     ,  0.18      , -1.21396637, -1.18164287]]
df_in_index = [1065, 9835, 10353, 17803, 18479]
df_in_columns = ["GHLTH",
                 "predictions",
                 "ACCESS2",
                 "BINGE"]
df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)

In [128]:
rmse_true  = capture_rmse(df_in,
                          true_col = "GHLTH",
                          pred_col = "predictions",
                          comp_prop = True)

In [129]:
rmse_true

0.027500422077908176

In [109]:
params_test, _ = fit_model(df_in,
                          features = ["ACCESS2",
                                        "BINGE"],
                          response = 'GHLTH',
                          method = "linearregression",
                          fit_intercept=True)

In [110]:
params_test = {key:round(value,3) for (key,value) in params_test.items()}

In [111]:
params_test

{'access2': 3.594, 'binge': 2.582, 'intercept': -2.648}

In [78]:
model.coef_

array([ 1.40595952, -0.6805987 ,  0.19691535,  0.57009933, -0.39728127,
       -0.14218024,  0.0587362 ,  0.09869009, -0.42440064, -0.55205471,
        0.13562066,  0.72115023,  0.13586322,  0.32107758, -0.38931773,
        0.07582709, -0.4732544 ,  0.14612   ,  0.        ,  0.        ,
        0.091695  ,  0.        ,  0.87709756])

In [50]:
df_in_values = [['New York', 'Onondaga', 36067, 36067013200, 2958, 34.2, 81.3,
        10.4, 16.2, 36.4],
       ['Massachusetts', 'Plymouth', 25023, 25023525104, 6289, 26.4,
        72.2, 6.9, 10.7, 29.2],
       ['California', 'Los Angeles', 12086, 12086009806, 2631, 36.4, 77.3,
        7.3, 24.3, 31.7]]
df_in_index = [43633, 31974, 16353]
df_in_columns = ['StateDesc', 'CountyName', 'CountyFIPS', 'LocationID',
       'TotalPopulation', 'BPHIGH', 'BPMED', 'CANCER', 'GHLTH', 'HIGHCHOL']
df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)

# Define region_state_mapping
states_region_mapping = {
    'California': 'West','New York': 'Northeast','Massachusetts': 'Northeast'}

In [51]:
df_true = one_hot_encode(df_in,
                            states_region_mapping)

In [56]:
exp_result = pd.DataFrame(
            [['New York', 'Onondaga', 36067, 36067013200, 2958, 34.2, 81.3,
        10.4, 16.2, 36.4, 'Northeast', 1],
       ['Massachusetts', 'Plymouth', 25023, 25023525104, 6289, 26.4,
        72.2, 6.9, 10.7, 29.2, 'Northeast', 1],
       ['California', 'Los Angeles', 12086, 12086009806, 2631, 36.4,
        77.3, 7.3, 24.3, 31.7, 'West', 0]],
            index = [43633, 31974, 16353],
            columns = ['StateDesc', 'CountyName', 'CountyFIPS', 'LocationID',
                       'TotalPopulation', 'BPHIGH', 'BPMED', 'CANCER', 'GHLTH',
                       'HIGHCHOL', 'region', 'Northeast'])

In [57]:
exp_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 43633 to 16353
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   StateDesc        3 non-null      object
 1   CountyName       3 non-null      object
 2   CountyFIPS       3 non-null      int64
 3   LocationID       3 non-null      int64
 4   TotalPopulation  3 non-null      int64
 5   BPHIGH           3 non-null      float64
 6   BPMED            3 non-null      float64
 7   CANCER           3 non-null      float64
 8   GHLTH            3 non-null      float64
 9   HIGHCHOL         3 non-null      float64
 10  region           3 non-null      object
 11  Northeast        3 non-null      int64
dtypes: float64(5), int64(4), object(3)
memory usage: 312.0+ bytes

In [55]:
df_true.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 43633 to 16353
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   StateDesc        3 non-null      object
 1   CountyName       3 non-null      object
 2   CountyFIPS       3 non-null      int64
 3   LocationID       3 non-null      int64
 4   TotalPopulation  3 non-null      int64
 5   BPHIGH           3 non-null      float64
 6   BPMED            3 non-null      float64
 7   CANCER           3 non-null      float64
 8   GHLTH            3 non-null      float64
 9   HIGHCHOL         3 non-null      float64
 10  region           3 non-null      object
 11  Northeast        3 non-null      uint8
dtypes: float64(5), int64(3), object(3), uint8(1)
memory usage: 399.0+ bytes

In [4]:
df_in_values = np.array([['Michigan', 'Wayne', 26163, 26163543900, 901,
        "{'type': 'Point', 'coordinates': [-83.2493016, 42.38181837]}",
        14.2, None, None],
       ['Ohio', 'Summit', 39153, 39153503300, 5606,
        "{'type': 'Point', 'coordinates': [-81.49716013, 41.04049422]}",
        None, None, 21.7],
       ['South Carolina', 'Orangeburg', 45075, 45075010200, 5097,
        "{'type': 'Point', 'coordinates': [-80.38981016, 33.3179319]}",
        None, 30.5, None]])
df_in_index = [0,1,2]
df_in_columns = ['StateDesc', 'CountyName', 'CountyFIPS', 'LocationID',
                        'TotalPopulation', 'Geolocation', 'COPD', 'GHLTH', 'MHLTH']
df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)

In [14]:
df2 = pd.DataFrame([[1,2,3,'abc'], [1,2,3,'abc']], index=[2,3])
df2.columns = ['CountyFIPS','TotalPopulation', 'COPD','cde']
df2.head()

   CountyFIPS  TotalPopulation  COPD  cde
2           1                2     3  abc
3           1                2     3  abc

In [29]:
df_in_values = [['Michigan', 'Wayne', 26163, 26163543900, 901,
        "{'type': 'Point', 'coordinates': [-83.2493016, 42.38181837]}",
        14.2, None, 10.1],
       ['Ohio', 'Summit', 39153, 39153503300, 5606,
        "{'type': 'Point', 'coordinates': [-81.49716013, 41.04049422]}",
        13.1, 11.1, 21.7],
       ['South Carolina', 'Orangeburg', 45075, 45075010200, 5097,
        "{'type': 'Point', 'coordinates': [-80.38981016, 33.3179319]}",
        12.2, 30.5, 13.2]]
df_in_index = [0,1,2]
df_in_columns = ['StateDesc', 'CountyName', 'CountyFIPS', 'LocationID',
                        'TotalPopulation', 'Geolocation', 'COPD', 'GHLTH', 'MHLTH']
df_in = pd.DataFrame(df_in_values, index=df_in_index, columns=df_in_columns)
df_in.head()

,StateDesc,CountyName,CountyFIPS,LocationID,TotalPopulation,Geolocation,COPD,GHLTH,MHLTH
0,Michigan,Wayne,26163,26163543900,901,"{'type': 'Point', 'coordinates': [-83.2493016,...",14.2,NaN,10.1
1,Ohio,Summit,39153,39153503300,5606,"{'type': 'Point', 'coordinates': [-81.49716013...",13.1,11.1,21.7
2,South Carolina,Orangeburg,45075,45075010200,5097,"{'type': 'Point', 'coordinates': [-80.38981016...",12.2,30.5,13.2

In [33]:
df_true.columns

Index(['StateDesc', 'CountyName', 'CountyFIPS', 'LocationID',
       'TotalPopulation', 'Geolocation', 'COPD', 'GHLTH', 'MHLTH'],
      dtype='object')

In [30]:
df_true = drop_null_responses(df_in, 'GHLTH')
df_true.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 1 to 2
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   StateDesc        2 non-null      object
 1   CountyName       2 non-null      object
 2   CountyFIPS       2 non-null      int64
 3   LocationID       2 non-null      int64
 4   TotalPopulation  2 non-null      int64
 5   Geolocation      2 non-null      object
 6   COPD             2 non-null      float64
 7   GHLTH            2 non-null      float64
 8   MHLTH            2 non-null      float64
dtypes: float64(3), int64(3), object(3)
memory usage: 160.0+ bytes

In [27]:
    df_true = pd.DataFrame(
            [['South Carolina', 'Orangeburg', 45075, 45075010200, 5097,
        "{'type': 'Point', 'coordinates': [-80.38981016, 33.3179319]}",
        None, 30.5, None]],
            index = [2],
            columns = ['StateDesc', 
                       'CountyName', 
                       'CountyFIPS', 
                       'LocationID',
                       'TotalPopulation',
                       'Geolocation', 
                       'COPD', 
                       'GHLTH', 
                       'MHLTH'])
df_true

In [28]:
df_true.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 2 to 2
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   StateDesc        1 non-null      object
 1   CountyName       1 non-null      object
 2   CountyFIPS       1 non-null      int64
 3   LocationID       1 non-null      int64
 4   TotalPopulation  1 non-null      int64
 5   Geolocation      1 non-null      object
 6   COPD             0 non-null      object
 7   GHLTH            1 non-null      float64
 8   MHLTH            0 non-null      object
dtypes: float64(1), int64(3), object(5)
memory usage: 80.0+ bytes